{% extends 'base.html.twig' %}

{% block title %}Actualites {% endblock %}


{% block body %}
       <h1 class="text-center my-4"> HouseHotel, centre-ville</h1>

<div class="card mb-3">
            <img src="{{ asset('uploads/actualite1-6440f62f79ba2.jpg') }}" class="card-img-top" alt="...">
           
  <div class="card-body">
    <h5 class="card-title">EXPOSITION DAVID HOCKNEY AU MUSÉE GRANET À AIX-EN-PROVENCE</h5>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla rerum aperiam temporibus, libero possimus assumenda inventore eveniet eos ex harum fugit quae, laboriosam id doloribus! Eum dicta placeat dolorem quidem.
    Est unde beatae corrupti provident quaerat inventore aperiam repellendus laboriosam iusto mollitia. A amet at in commodi neque, officiis illo doloribus molestiae expedita, minus cumque sit vero rem? Accusamus, asperiores?
    Blanditiis quaerat laudantium similique incidunt non. Ipsa tempora laboriosam consequatur fugiat ipsum velit, magnam ea! Vel expedita ex illo repellendus alias at doloremque praesentium! Alias eos velit provident libero accusamus.
    Quidem iure distinctio, iste itaque enim officia sunt consequuntur repellat non ducimus voluptatem at ipsum vitae provident iusto maiores? Quos, enim saepe totam maiores nisi harum veritatis repellat ut similique?
    Id architecto minima hic facilis molestias aut fuga ipsa autem, deleniti pariatur saepe voluptates illo officiis eum totam vero laborum reprehenderit incidunt. Repellat delectus veniam odit deleniti distinctio laboriosam nihil!</p>
  
  </div>
</div>


{% endblock %}