{% extends 'base.html.twig' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}


{% block body %}

<h1 class="text-center my-4 mx-auto">{% trans %}ACCUEIL{% endtrans %}</h1>

{% endblock %}
