{% extends 'base.html.twig' %}

{% block title %}Inscription Newsletter
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="text-center my-4 mx-auto">Inscription à notre Newsletter</h1>

	</div>
	<div class="row">
		<div class="col-8 mx-auto">

			{{ form_start(form) }}


			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}
