{% extends 'base.html.twig' %}

{% block title %}Plan du site
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="text-center my-4 mx-auto">Plan du site</h1>


	</div>

{% endblock %}
