{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="text-center my-4 mx-auto">Mentions Légales</h1>
		<h2 class="text-center my-4 mx-auto">Mentions légales : c’est quoi et à quoi ça sert ?</h2>

		<p class="text-center my-4 mx-auto">
			Tous les sites internet doivent obligatoirement faire figurer un certain nombre d’informations, selon la loi sur la confiance en l’économie numérique (LCEN) du 21 juin 2004.
			<br>
			Elles doivent permettre d’identifier facilement les responsables du site. Cette volonté de transparence garantit ainsi à chacun de pouvoir contacter son propriétaire en cas de problème ou litige.Cet ensemble d’informations, appelé Mentions légales  doit donc être visible, complet et facile d’accès à tous les utilisateurs du site internet.
			<br>
			En général, il suffit seulement de les rendre accessibles via un lien placé en pied de page d’accueil du site. Ainsi, tout internaute peut signaler les dysfonctionnements d’un site ou bien la publication de contenu illicite.L’obligation de faire figurer les mentions légales s’applique aussi bien aux sites personnels (blog et autres sites qui n’ont pas un objectif commercial) qu’aux sites professionnels (liés à une activité économique ou commerciale).
			<br>
			Le non-respect de ces obligations expose à des sanctions pouvant aller jusqu’à un an d’emprisonnement et 375 000 euros d’amende.Cet article traite des obligations pour les sites professionnels. Pour les sites personnels, dont les obligations sont moindres, vous pouvez consulter le site Service-public.fr.Les mentions légales, pour le site d’un entrepreneur individuel ou d’une  société peuvent être regroupées en deux catégories :
			<br>
			- Les mentions d’identification<br>
			- Les mentions relatives à l’utilisation et la gestion des cookies</p>
	</div>

{% endblock %}
