{% extends 'base.html.twig' %}

{% block title %}CGV
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="text-center my-4 mx-auto">Conditions Générales de Ventes</h1>

		<p class="text-center my-4 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel recusandae minima exercitationem repudiandae, aut modi totam reprehenderit beatae dignissimos corporis quod tenetur aspernatur expedita, rerum similique earum soluta voluptatibus consequatur.
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam asperiores? Officiis, aliquam delectus consequatur explicabo laudantium libero corrupti rerum. Ipsam, architecto. Officia nostrum mollitia impedit ex! Voluptatibus, ullam ea.
												Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatibus sed ipsum eveniet laudantium officiis, perspiciatis, enim quis nostrum optio repudiandae. Veniam error praesentium eaque assumenda tempore, fugit suscipit minus?
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia, delectus quod itaque atque explicabo adipisci quas dolorum nam harum saepe? Fugit nulla, sunt sed suscipit officiis culpa dolor maxime.
		</p>
	</div>

{% endblock %}
