{% extends 'base.html.twig' %}

{% block title %}SPA | Soin Relaxant{% endblock %}

{% block body %}
       <h1 class="text-center my-4">Soin Relaxant</h1>
 <div class="row">

<div class="card mb-3">
    <img height="450" src="{{ asset('uploads/soin-ralaxant-643fb04674c13.jpg') }}"  width="1500" height="750" alt="" class="img-custom">
    

  <div class="card-body">
    <h5 class="card-title">Soin Relaxant</h5>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque odio reiciendis suscipit numquam cupiditate ipsam velit quia! Incidunt, laudantium a tempore harum, delectus temporibus recusandae asperiores pariatur laborum aut expedita.
    Amet earum, incidunt quaerat id non sint laborum possimus sed consequatur est aspernatur ipsam? Unde totam ex voluptas odio aperiam temporibus sit dicta sapiente labore. Suscipit exercitationem corrupti quas aliquam.
    Totam quae perspiciatis at accusantium est a recusandae deserunt. Laborum odio deleniti numquam ipsam ut tempore. Tempore adipisci, labore veritatis, nihil totam nostrum unde corrupti, perspiciatis commodi voluptas blanditiis autem?.</p>
   
  </div>
</div>
</div>

{% endblock %}
