{% extends "base.html.twig" %}

{% block title %}Restaurant La Marine
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">Restaurant La Marine
	</h1>
	<p class=" col-8 mx-auto text-center my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur eum corrupti nemo vitae ducimus aliquid, culpa deserunt dicta perspiciatis voluptas consectetur perferendis ipsum accusamus maxime quae quis. Eaque, incidunt similique! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo consectetur tempore aut numquam blanditiis nostrum obcaecati, qui debitis. Mollitia accusamus ratione corrupti incidunt iste qui delectus temporibus ipsa ex omnis.</p>
	<div class="row">
		<div class="col-10 slider">
        </div>
		<div class="card col-8 mx-auto">
			<div class="card-body">
				<h5 class="card-title text-center">{% trans %}Menu Dégustation{% endtrans %}</h5>
				<p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui earum nulla reiciendis repellendus architecto facilis assumenda totam fuga, ipsam ipsum aut adipisci. Commodi deserunt velit est laudantium pariatur nisi numquam.</p>
				<p class="card-text">
					<small class="text-body-secondary">Last updated 3 mins ago</small>
				</p>
			</div>
			<img src="{{ asset('uploads/menu-resto.jpg' ) }}" class="card-img-bottom mx-auto" alt="..." style="width:500px">
		</div>

        <div class="card col-8 mx-auto pb-5">
			<div class="card-body">
				<h5 class="card-title text-center">{% trans %}Menu Vins{% endtrans %}</h5>
				<p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui earum nulla reiciendis repellendus architecto facilis assumenda totam fuga, ipsam ipsum aut adipisci. Commodi deserunt velit est laudantium pariatur nisi numquam.</p>
				<p class="card-text">
					<small class="text-body-secondary">Last updated 3 mins ago</small>
				</p>
			</div>
			<img src="{{ asset('uploads/image-carte-vins.png' ) }}" class="card-img-bottom mx-auto" alt="..." >
		</div>
	</div>


{% endblock %}
